@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPortfolio.cshtml";
}

<!-- Navigation -->
@*<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>Start Bootstrap</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>About</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>Portfolio</a>
        </li>

        <li>
            @Html.ActionLink("blog", "Login", "Account")
            <a href="@Url.Action("UserIndex", "BlogPosts")" onclick=$("#menu-close").click();>My Blog</a>
        </li>


        <li>
            <a href="@Url.Action("Contact", "Home")" onclick=$("#menu-close").click();>Contact</a>
        </li>
    </ul>
</nav>*@
<!-- Header -->
<header id="top" class="header">

    <div class="text-vertical-center">
        <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">

            <div align="center">
                <div class="dive">
                    <h1 style="color:#1a31e4">Neena Aelias</h1>
                </div>
            </div>
            <div style="color:#a633e2" class="carousel-inner">
                <div class="item active">
                    <h3>
                        FULL STACK DEVELOPER
                    </h3>
                </div>
                <div class="item">
                    <h3>
                        SOFTWARE DEVELOPER
                    </h3>
                </div>
                <div class="item">
                    <h3>
                        COMPUTER PROGRAMMER
                    </h3>
                </div>
                <div class="item">
                    <h3>
                        ELECTRONICS ENGINEER
                    </h3>
                </div>
                <div class="item">
                    <h3>
                        FRONT END DEVELOPER
                    </h3>
                </div>
                <div class="item">
                    <h3>
                        MOTHER
                    </h3>
                </div>
            </div>
        </div>

                <a href="#about" class="btn btn-dark btn-lg" id="btn">More About Me</a>
            </div>


</header>
<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <p class="fonet"><i> I am Neena Aelias ,I love to code I started coding a couple of years ago,I started with C programming and got
                    my way upto object oriented programmming like C++, ruby ,C# ,.net.I have completed my masters in technology from Anna
                    university chennai,India.I am going through twelve week immersive course in coder foundry bootcamp which has
                    given me an opportunity to widen my skills in fullstack programming on microsoft technologies</i>

                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>EDUCATION</h2>
                <hr class="small">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <!--<a href="#">-->
                        <div class="size">
                            <img class="img-portfolio img-responsive" src="~/myblog/lib/img/me_neena_cert 001.jpg" />

                            <h5>ENGINEERING MASTER DEGREE IN VLSI DESIGN </h5>

                        </div>
                        <!--</a>-->
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="portfolio-item">
                        <!--<a href="#">-->
                        <div class="size">
                            <img class="img-portfolio img-responsive" src="~/myblog/lib/img/be_neena_cert 001.jpg" />

                            <h5> BACHELOR DEGREE IN ELECTRONICS AND COMMUNICATION ENGINEERING </h5>

                        </div>
                            <!--</a>-->
                        </div>
                </div>

            </div>
        </div>

    </div>

</section> <!--my publication ends here-->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>CERTIFICATIONS and PUBLICATIONS</h2>
                <hr class="small">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <!--<a href="#">-->

                        <div class="size">
                            <img class="img-portfolio" src="~/myblog/lib/img/cert-1z0-061.png" />
                            <div class="animated bounce infinite"><h5>CERTIFICATION IN ORACLE DATABASE 12C SQL </h5></div>

                        </div>
                    </div>
                    <!--</a>-->
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <!--<a href="#">-->
                        <div class="size">
                            <img class="img-portfolio img-responsive" src="~/myblog/lib/img/ciit_logo.gif" />
                            <div class="animated bounce infinite">
                                <br />
                                <br />
                                <br />
                                <h5> PUBLISHED A PAPER TITLED A NETWORK INTRUSION DETECTION SYSTEM FOR MEMORY ARCHITECTURE</h5>
                            </div>
                            </div>
                        <!--</a>-->
                    </div>
                </div>
            </div>
    </div>
   </div>
</section>
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>PROJECTS COMPLETED</h2>
                <hr class="small">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <!--<a href="#">-->
                        <div class="size">
                            <img class="img-portfolio img-responsive" img src="~/myblog/lib/img/figure-1-standard-gpu-memory-hierarchy.png" />

                            <h5>A Network Intrusion Detection System For Memory Architecture </h5>

                        </div>
                        <!--</a>-->
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="portfolio-item">
                        <!--<a href="#">-->
                        <div class="size">
                            <img class="img-portfolio img-responsive" src="~/myblog/lib/img/l2f-optical-flow-meter.png" />
                            <br />
                            <br />
                            <br />
                            <br />
                            <h5>Cross Co-relation Based Optical Flow Meter</h5>

                        </div>
                        <!--</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="callout">
    <div class="container">
        <div class="row">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h2><strong>My Work</strong> </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row text-center">
                <div class="col-md-12">
                    <h4>JAVASCRIPT EXERCISES</h4>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!--number program starts here-->
                <div class="col-sm-3">
                    <a href="" class="btn btn-primary btn-md" data-toggle="modal" data-target="#max8"><h7>NUMBERS</h7></a>
                </div>
                <div class="modal fade" id="max8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h1 class="modal-title" id="myModalLabel"></h1>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="try">
                                                <label>Enter First number :</label><input type="text" id="firstnumber" class="form-control" /><br />
                                                <label> Enter second number:</label><input type="text" id="secondnumber" class="form-control" /><br />
                                                <label> Enter third number :</label><input type="text" id="thirdnumber" class="form-control" /><br />
                                                <label> Enter fourth number:</label><input type="text" id="fourthnumber" class="form-control" /><br />
                                                <label> Enter fifth number :</label><input type="text" id="fifthnumber" class="form-control" /><br />
                                                <button id="calculate" class="btn btn-primary" type="submit">calculate</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="again">
                                                <div class="form-group">
                                                    <br /> <br />
                                                    <label>Least:</label>
                                                    <label id="least"></label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Great</label>
                                                    <label id="great"></label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Mean</label>
                                                    <label id="mean"></label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Sum</label>
                                                    <label id="sum"></label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Product</label>
                                                    <label id="product"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body col-sm-12">
                                    </div>
                                    <div class="modal-footer no-margin">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  <!--my numbers ends here-->
                <!--factorial starts here-->
                <div class="col-sm-3">
                    <a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#popy"><h7>FACTORIAL</h7></a>
                </div>
                <div class="modal fade" id="popy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h1 class="modal-title" id="myModalLabel"></h1>
                                <div class="container fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="fact">
                                                    <label>Enter your Number :</label>
                                                    <input type="text" id="number" class="form-control" /><br />
                                                </div>
                                                <button id="facto" class="btn btn-primary" type="submit"> Find Factorial</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="fact">
                                                    <label> Factorial is:</label><br />
                                                    <label id="answer"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body col-sm-12">
                                </div>
                                <div class="modal-footer no-margin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--factorial ends-->
                <div class="col-sm-3">
                    <!--palindrome starts here-->
                    <a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#max4"><h7>PALINDROME</h7></a>
                </div>
                <div class="modal fade" id="max4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h1 class="modal-title" id="myModalLabel"></h1>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <form>
                                                <div class="form-group">
                                                    <div class="pal">
                                                        <label>Type the word to check!</label>
                                                    </div>
                                                    <input type="text" id="word" class="form-control" />
                                                </div>
                                                <br />
                                                <button id="palin" class="btn btn-info" type="submit">Check</button>
                                            </form>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="pal">
                                                    <label> Paliandrome?</label><br />
                                                    <label id="result"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body col-sm-12">
                            </div>
                            <div class="modal-footer no-margin">
                            </div>
                        </div>
                    </div>
                </div>
                <!--palindrome ends here-->
                <div class="col-sm-3">
                    <!--fizzbuzz starts here-->
                    <a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#mou"><h7>FIZZBUZZ</h7></a>
                </div>
                <div class="modal fade" id="mou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h1 class="modal-title" id="myModalLabel"></h1>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form>
                                                <div class="colo">
                                                    <div class="form-group">
                                                        <label>Type a number between 1 and 100:</label>
                                                        <input type="number" id="firstnumber1" class="form-control" /><br />

                                                        <label>Type a number between 1 and 100 :</label>
                                                        <input type="number" id="secondnumber1" class="form-control" /><br />
                                                        <button id="fiz" class="btn btn-primary" type="button">Print Numbers</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>

                                        <div class="col-sm-3">

                                            <div class="form-group">
                                                <div class="colo">
                                                    <label>Numbers</label><br />
                                                    <label id="products"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body col-sm-12">
                                    </div>
                                    <div class="modal-footer no-margin">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--row tag ends here-->
                </div><!--container tag ends here-->

            </div><!--fizzbuzzends here-->
        </div>
    </div> <!--FOURTH EXERCISE-->
    <!--CSHAAARP EXERCISES--> <div class="container">
        <div class="row">
            <div class="row text-center">
                <div class="col-md-12">
                    <h4>C SHARP EXERCISES</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="col-sm-3">
                    <a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#one"><h7>NUMBERS</h7></a>
                </div>
                <div class="modal fade" id="one" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h1 class="modal-title" id="myModalLabel"></h1>
                                <div class="col-sm-12 margin-small">
                                    <pre class="brush: js;">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
namespace csharp
{
    class Program
    {
        static void Main(string[] args)
        {
            int num, sum = 0;
            int count;
            int product = 1;
            double mean = 0;
            int a = 1;
            List<int> list = new List<int>();
            Console.WriteLine("HOW MANY NUMBERS YOU WANT TO ENTER");
            count = int.Parse(Console.ReadLine());
            for (a = 1; a <= count; a = a + 1)
            {
                Console.WriteLine("ENTER YOUR "+a+" NUMBER");
                num = int.Parse(Console.ReadLine());
                sum = sum + num;
                product = product * num;
                list.Add(num);
            }
            int[] arr = new int[count];
            mean = sum / count;
            Console.WriteLine("Sum of  Numbers : " + sum);
            Console.WriteLine("Mean of Numbers : " + mean);
            Console.WriteLine("Product of Numbers : " + product);
            //Console.WriteLine(list);
            list.Sort();
            arr=list.ToArray();
            Console.WriteLine("Smallest number : "+ arr[0]);
            Console.WriteLine("Largest number : " + arr[count-1]);
            Console.ReadKey();
        }
    }
}
	               </pre>
                                </div>
                            </div>
                            <div class="modal-body col-sm-12">
                            </div>
                            <div class="modal-footer no-margin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#maxo"><h7>FACTORIAL</h7></a>
                </div>
                <div class="modal fade" id="maxo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 class="modal-title" id="myModalLabel">Factorial Program</h3>
                                <div class="col-sm-12 margin-small">
                                    <pre class="brush: js;">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
namespace csharpfacts
{
    class Program
    {
        static void Main(string[] args)
        {
            int num;
            int fact = 1;
            int i = 2;
            Console.WriteLine("Enter Number");
            num = int.Parse(Console.ReadLine());
            for (i = 2; i <= num; i = i+ 1)
            {
                fact = fact*i;
            }
            Console.WriteLine("factorial is" + fact);
            Console.ReadKey();
        }
    }
}
	                                            </pre>
                                </div>
                            </div>
                            <div class="modal-body col-sm-12">
                            </div>
                            <div class="modal-footer no-margin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#max9"><h7>PALINDROME</h7></a>
                </div>
                <div class="modal fade" id="max9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Program to Check the Word is Palindrome or not</h4>
                                <div class="col-sm-12 margin-small">
                                    <pre class="brush: js;">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
namespace csharppalin
{
    class Program
    {
        static void Main(string[] args)
        {
            string str, revstr;
            Console.WriteLine("Enter The String to Check");
            str = Console.ReadLine();
            char[] tempstr = str.ToCharArray();
            Array.Reverse(tempstr);
            revstr = new string(tempstr);
            bool caseignore = str.Equals(revstr, StringComparison.OrdinalIgnoreCase);
            if (caseignore == true)
            {
                Console.WriteLine(  str + " Is a Palindrome");
            }
            else
            {
                Console.WriteLine( str + " Is Not a Palindrome");
            }
            Console.Readline();
        }
    }
}
	                                            </pre>
                                </div>
                            </div>
                            <div class="modal-body col-sm-12">
                            </div>
                            <div class="modal-footer no-margin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#maxt"><h7>FIZZBUZZ</h7></a>
                </div>
                <div class="modal fade" id="maxt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h1 class="modal-title" id="myModalLabel"></h1>
                                <div class="col-sm-12 margin-small">
                                    <pre class="brush: js;">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
namespace csahrpfizzbuzz
{
    class Program
    {
        static void Main(string[] args)
        {
            int num1;
            int num2;
            int i = 1;
            Console.WriteLine("Enter a Number Between 1 and 100");
            num1 = int.Parse(Console.ReadLine());
            Console.WriteLine("Enter another Number Between 1 and 100");
            num2 = int.Parse(Console.ReadLine());
            for (i = 1; i <= 100; i++)
            {
                Console.WriteLine();
                if (i % num1 == 0 && i % num2 == 0)
                {
                    Console.WriteLine("FizzBuzz");
                }
                else if (i % num1 == 0)
                {
                    Console.WriteLine("Fizz");
                }
                else if (i % num2 == 0)
                {
                    Console.WriteLine("Buzz");
                }
                else
                {
                    Console.WriteLine(i);
                }
            }
            Console.ReadKey();
        }
    }
}
	                                            </pre>
                                </div>
                            </div>
                            <div class="modal-body col-sm-12">
                            </div>
                            <div class="modal-footer no-margin">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--<row></row>-->
    </div><!--<container></container>-->
</aside>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->

<footer>
    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <button class="btn btn-secondary" id="contacto">CONTACT DETAILS</button>
                    <h4>
                        <strong>Neena Aelias</strong>
                    </h4>
                    <p>
                        <strong>
                            4845,Ashley Park Ln
                            <br>Charlotte,NC
                            <br>28210<br />
                        </strong>
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (203)550 7631</li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:neenaaelias@gmail.com">neenaaelias@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <!--<ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>-->
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </section>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>

@*<script src="~/myblog/lib/js/bootstrap.min.js"></script>
<script src="~/myblog/javascript/numbers.js"></script>
<script src="~/myblog/javascript/fact.js"></script>
<script src="~/myblog/javascript/palindrome.js"></script>
<script src="~/myblog/javascript/fizzbuzz.js"></script>*@








